<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{app.title}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/_variables.scss}" />
<link rel="stylesheet" th:href="@{/css/_bootswatch.scss}" />
</head>

<body>
	<div class="navbar navbar-expand-lg navbar-dark bg-primary">
		<ul class="navbar-nav">

			<li class="nav-item"><a href="#" th:href="@{/person/info}"
				class="nav-link" th:text="#{person.title}"></a></li>

			<li class="nav-item"><a class="nav-link" href="#"
				th:href="@{/person/create}" th:text="#{person.add-more-persons}"></a></li>

			<li class="nav-item"><a href="#" th:href="@{/work/info}"
				class="nav-link" th:text="#{work.title}"></a></li>

			<li class="nav-item"><a class="nav-link" href="#"
				th:href="@{/work/create}" th:text="#{work.add-more-works}"></a></li>
		</ul>
	</div>

	<h1 th:text="#{work.add-more-works}" style="margin-left:10px"></h1>
	<div class="bs-docs-section"
		style="width: 100%; text-align: center; margin-top: 20px;">
		<!-- form -->
		<div class="bs-component" style="display: inline-block; width: 60%">
			<div class="card border-secondary ">

				<div class="card-body">
					<form action="#" th:action="@{/work/create}" th:object="${work}"
						method="POST">
						<!-- last name -->
						<div class="form-group ">

							<label class="form-control-label" th:text="#{work.last-name}" /></label>

							<input class="form-control" type="text"
								th:field="*{lastName}" required th:errorclass="has-error" th:placeholder="#{placeholder.last-name}"/>

							<div class="valid-feedback"
								th:if="${#fields.hasErrors('lastName')}">
								<ul>
									<li th:each="err : ${#fields.errors('lastName')}"
										th:text="${err}" />
								</ul>
							</div>

						</div>

						<!-- first name -->
						<div class="form-group">
							<label class="form-control-label" th:text="#{work.first-name}" /></label>

							<input class="form-control" type="text"
								th:field="*{firstName}" required th:errorclass="has-error" th:placeholder="#{placeholder.first-name}"/>

							<div class="valid-feedback"
								th:if="${#fields.hasErrors('firstName')}">
								<ul>
									<li th:each="err : ${#fields.errors('firstName')}"
										th:text="${err}" />
								</ul>
							</div>
						</div>

						<!-- company -->
						<div class="form-group">
							<label class="form-control-label" th:text="#{work.company}"/></label> <input
								class="form-control" type="text" th:field="*{company}"
								required th:errorclass="has-error" th:placeholder="#{placeholder.company}"/>

							<div class="valid-feedback"
								th:if="${#fields.hasErrors('company')}">
								<ul>
									<li th:each="err : ${#fields.errors('company')}"
										th:text="${err}" />
								</ul>
							</div>
						</div>

						<!-- address -->
						<div class="form-group">
							<label class="form-control-label" th:text="#{work.address}"/></label> <input
								class="form-control" type="text" th:field="*{address}"
								required th:errorclass="has-error" th:placeholder="#{placeholder.address}"/>

							<div class="valid-feedback"
								th:if="${#fields.hasErrors('address')}">
								<ul>
									<li th:each="err : ${#fields.errors('address')}"
										th:text="${err}" />
								</ul>
							</div>
						</div>

						<!-- submit -->
						<button type="submit" th:text="#{work.form.submit}"
							class="btn btn-primary">Submit</button>

						<!-- reset -->
						<button type="reset" th:text="#{work.form.reset}"
							class="btn btn-danger">Reset</button>

					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- form -->
	

</body>
</html>